* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 23.8%,
    rgba(86, 16, 133, 0.829) 92%
  );
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

h1 {
  margin: 20px 0 0;
}

p {
  font-size: 20px;
}

.game-container {
  padding: 20px 30px;
  position: relative;
  margin: auto;
  height: 350px;
  width: 450px;
}

.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 7px;
  stroke-linecap: round;
}

.figure-part {
  display: none;
}

.wrong-letters-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.wrong-letters-container p {
  margin: 0 0 5px;
}

.wrong-letters-container span {
  font-size: 35px;
}

.word {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.letter {
  border-bottom: 3px solid rgba(86, 16, 133, 0.7);
  display: inline-flex;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 40px;
  color: rgb(86, 16, 133);
  padding-bottom: 7px;
}

.message-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
}

.message {
  background: rgb(86, 16, 133);
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 25px 75px;
  text-align: center;
}

.message button {
  cursor: pointer;
  background-color: #fff;
  color: rgb(86, 16, 133);
  border: 0;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
}

.message button:active {
  transform: scale(0.9);
}

.message button:focus {
  outline: 0;
}

.notification-container {
  background-color: rgba(86, 16, 133, 0.2);
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
  position: absolute;
  bottom: -50px;
  transition: transform 0.3s ease-in-out;
}

.notification-container p {
  margin: 0;
}

.notification-container.show {
  transform: translateY(-50px);
}

.flag img {
  width: 400px;
  height: 250px;
  border: 5px solid #fff;
  border-radius: 7%;
}

.flag {
  padding-top: 40px;
}

@media (max-height: 1000px) {
  h1 {
    margin: 10px 0 0;
    font-size: 25px;
  }

  p {
    font-size: 20px;
  }

  .flag img {
    width: 350px;
    height: 210px;
  }
  .flag {
    padding-top: 10px;
  }
}

@media (max-height: 900px) {
  .flag img {
    width: 240px;
    height: 120px;
  }
}
